<template>
    <div>
        <!--工具条-->
        <el-col :span="24" class="toolbar" style="padding-bottom: 0px;">
            <el-form :inline="true" :model="filters">
                <el-form-item>
                    <el-input v-model="filters.name" placeholder="姓名"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" v-on:click="getUsers">查询</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="info" @click="addUser">新增</el-button>
                </el-form-item>
            </el-form>
        </el-col>


        <el-table :data="userInfoList" style="width: 100%">
            <el-table-column prop="id"  label="id" width="300">
            </el-table-column>
            <el-table-column prop="name"  label="名字" width="300">
            </el-table-column>
            <el-table-column prop="age"  label="年龄" width="300">
            </el-table-column>
            <!--第二步  开始进行修改和查询操作-->
            <el-table-column label="操作"  min-width="50" width="300">

                <template slot-scope="scope">

                    <el-button type="info"  @click="modifyUser(scope.row)">修改</el-button>

                    <el-button type="info"  @click="deleteUser(scope.row)">删除</el-button>
                </template>
            </el-table-column>
            <!--编辑与增加的页面-->


        </el-table>
        <!--新增界面-->
        <el-dialog title="记录" :visible.sync="dialogVisible" width="50%" :close-on-click-modal="false">
            <el-form :model="addFormData" :rules="rules2" ref="addFormData" label-width="0px" class="demo-ruleForm login-container">
                <el-form-item prop="name">
                    <el-input type="text" v-model="addFormData.name" name="name"  auto-complete="on" placeholder="姓名"></el-input>
                </el-form-item>
                <el-form-item prop="age">
                    <el-input type="text" v-model="addFormData.age" name="age" auto-complete="on" placeholder="年龄"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click.native="dialogVisible = false,addFormData={name:'',age:''}">取 消</el-button>
                <el-button v-if="isView" type="primary" @click.native="addSubmit">确 定</el-button>
            </span>
        </el-dialog>
<!--修改界面-->
        <el-dialog title="记录" :visible.sync="dialogVisible2" width="50%" :close-on-click-modal="false">
            <el-form :model="updateFormData" :rules="rules2" ref="updateFormData" label-width="0px" class="demo-ruleForm login-container">
                <el-form-item prop="name">
                    <el-input type="text" v-model="updateFormData.id" name="id"  auto-complete="on" placeholder="id" readonly="readonly"></el-input>
                </el-form-item>
                <el-form-item prop="name">
                    <el-input type="text" v-model="updateFormData.name" name="name"  auto-complete="on" placeholder="姓名"></el-input>
                </el-form-item>
                <el-form-item prop="age">
                    <el-input type="text" v-model="updateFormData.age" name="age" auto-complete="on" placeholder="年龄"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click.native="dialogVisible2 = false,updateFormData={name:'',age:''}">取 消</el-button>
                <el-button v-if="isView2" type="primary" @click.native="updateSubmit">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
    export default {
        name: 'lists',
        data() {
            return {
                userInfoList: [],
                addFormReadOnly: true,
                dialogVisible: false,
                isView: true,
                dialogVisible2: false,
                isView2: true,
                addFormData: {
                    name: "",
                    age: ""
                },
                updateFormData:{
                    id:"",
                    name:"",
                    age:""
            },
                rules2: {
                    name: [{
                        required: true,
                        message: '用户名不能为空',
                        trigger: 'blur'
                    }],
                    age: [{
                        required: true,
                        message: '年龄不能为空',
                        trigger: 'blur'
                    }]
                },
                filters: {
                    name: ''
                }
            }
        },
        mounted: function () {
            this.loadData();
        },

        methods: {
            loadData() {
                this.$axios.post('http://localhost:8080/userlist').then((result) => {
                    var _data = result.data;
                    console.log(_data);
                    this.userInfoList = _data;
                });
            },
            getUsers() {
                console.log(this.filters.name);
                this.$axios.post('http://localhost:8080/query',{
                    name:this.filters.name
                }).then((result) => {
                    if(result.data.length>0){
                        var _data = result.data;
                        this.userInfoList = _data;
                    }else{
                        this.$message({
                            type: 'info',
                            message: `没有相关信息`
                        });
                    }

                });
            },
            addUser() {
                this.addFormData = {
                    id: '',
                    name: '',
                    age: ''
                };
                this.isView = true;
                this.dialogVisible = true;
            },

            modifyUser(rowData) {
                this.updateFormData = Object.assign({}, rowData);
                this.isView2 = true;
                this.dialogVisible2 = true;
                //    this.addFormReadOnly = false;
            },
            deleteUser(rowData) {
                this.$alert('是否删除这条记录', '信息删除', {
                    confirmButtonText: '确定',
                    callback: action => {
                        this.$axios.post("http://localhost:8080/remove",{
                            id:rowData.id
                        }).then((result) => {
                            if (result.data.code==200) {
                                alert("删除成功");
                                this.$message({
                                    type: 'info',
                                    message: `已删除`
                                });
                            } else {
                                this.$message({
                                    type: 'info',
                                    message: `删除失败`
                                });
                            }
                            this.loadData();
                        });

                    }
                });

            },
            addSubmit() {
                this.$refs.addFormData.validate((valid) => {
                    if (valid) {
                        this.$axios.post("http://localhost:8080/save",{
                            name:this.addFormData.name,
                            age:this.addFormData.age})
                            .then((result) => {
                                let code = result.data.code;
                            if (code==200) {
                                this.$message({
                                    type: 'info',
                                    message: '添加成功',
                                });
                                alert("添加成功");
                                this.loadData();
                            } else {
                                this.$message({
                                    type: 'info',
                                    message: '添加失败',
                                });
                            }
                            this.dialogVisible = false;
                        });
                    }

                });
            },
            updateSubmit() {
                this.$refs.updateFormData.validate((valid) => {
                    if (valid) {
                        this.$axios.post("http://localhost:8080/update",{
                            id:this.updateFormData.id,
                            name:this.updateFormData.name,
                            age:this.updateFormData.age})
                            .then((result) => {
                                let code = result.data.code;
                                if (code==200) {
                                    this.$message({
                                        type: 'info',
                                        message: '修改成功',
                                    });
                                    alert("修改成功");
                                    this.loadData();
                                } else {
                                    this.$message({
                                        type: 'info',
                                        message: '添加失败',
                                    });
                                }
                                this.dialogVisible2 = false;
                            });
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>