<template>
    <el-container class="container">
        <!-- 头部 -->
        <el-header style="background-color: #F1F6FC">
            <el-row>
                <el-col :span="1.5">
                    <el-image style="width: 54px; height: 54px" :src="url" :lazy='true'></el-image>
                </el-col>
                <el-col :span="3.5" style="margin-left: 25px; margin-top: 0px">
                    <h1>博思考试系统</h1>
                </el-col>
                <el-col class="logout" :span="19">
                    <template>
                        <div class="navOperater">
                            <el-link type="info" style="color: dimgray">退出系统</el-link>
                        </div>
                        <div class="navOperater">
                            <el-avatar
                                    class="avatar"
                                    src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                                    style="margin-top: 7px"
                            ></el-avatar>
                        </div>
                    </template>
                </el-col>
            </el-row>
        </el-header>
        <el-container>
            <!-- 侧边栏 -->
            <el-aside>
                <Aside />
            </el-aside>
            <!-- 内容区 -->
            <el-main>
                <template>
                    <div>
                        <!--工具条-->
                        <el-col :span="24" class="toolbar" style="padding-bottom: 0px;">
                            <el-form :inline="true" :model="filters">
                                <el-form-item>
                                    <el-input v-model="filters.name" placeholder="角色名称"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" v-on:click="getUsers">查询</el-button>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="info" @click="addUser">新增</el-button>
                                </el-form-item>
                            </el-form>
                        </el-col>


                        <el-table :data="userInfoList.slice((currentPage-1)*pagesize,currentPage*pagesize)" cell-style="text-align: center" >
                            <el-table-column prop="name"  label="角色" width="150" align="center">
                            </el-table-column>
                            <el-table-column prop="code1"  label="角色编号" width="150" align="center">
                            </el-table-column>
                            <el-table-column prop="remark"  label="备注" width="150" align="center">
                            </el-table-column>
                            <el-table-column prop="status"  label="是否启用" width="150" align="center">
                                <template scope="scope">
                                    <p v-if="scope.row.status=='0'">否</p>
                                    <p v-if="scope.row.status=='1'">是</p>
                                </template>
                            </el-table-column>

                            <!--第二步  开始进行修改和查询操作-->
                            <el-table-column label="操作"  min-width="50" width="300" align="center">

                                <template slot-scope="scope">

                                    <el-button type="info"  @click="modifyUser(scope.row)">修改</el-button>

                                    <el-button type="info"  @click="deleteUser(scope.row)">删除</el-button>

                                    <el-button type="info"  @click="getRoleResource(scope.row)">资源分配</el-button>
                                </template>
                            </el-table-column>
                            <!--编辑与增加的页面-->
                        </el-table>
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-sizes="[4, 5, 10, 20, 40]"
                                :page-size="pagesize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="userInfoList.length">
                        </el-pagination>
                        <!--新增界面-->
                        <el-dialog title="新增" :visible.sync="dialogVisible" width="50%" :close-on-click-modal="false">
                            <el-form :model="addFormData" :rules="rules2" ref="addFormData" label-width="130px" class="demo-ruleForm login-container">
                                <el-form-item label="角色名称" prop="name">
                                    <el-input type="text" v-model="addFormData.name" name="name"  style="width: 330px" auto-complete="on" placeholder="请输入角色名称"></el-input>
                                </el-form-item>
                                <el-form-item label="角色编号" prop="code1">
                                    <el-input type="text" v-model="addFormData.code1" name="code1"  style="width: 330px" auto-complete="on" placeholder="请输入角色编号"></el-input>
                                </el-form-item>
                                <el-form-item label="备注" prop="remark">
                                    <el-input type="text" v-model="addFormData.remark" name="remark"  style="width: 330px" auto-complete="on" placeholder="请输入备注"></el-input>
                                </el-form-item>
                                <el-form-item label="是否启用" prop="status">
                                    <el-radio-group v-model="addFormData.status">
                                        <el-radio class="radio" :label="1">是</el-radio>
                                        <el-radio class="radio" :label="0">否</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                            </el-form>
                            <span slot="footer" class="dialog-footer">
                                <el-button @click.native="dialogVisible = false,addFormData={name:'',code1:'',remark:'',status:''}">取 消</el-button>
                                <el-button v-if="isView" type="primary" @click.native="addSubmit">确 定</el-button>
                             </span>
                        </el-dialog>
                        <!--修改界面-->
                        <el-dialog title="修改" :visible.sync="dialogVisible2" width="50%" :close-on-click-modal="false">
                            <el-form :model="updateFormData" :rules="rules2" ref="updateFormData" label-width="130px" class="demo-ruleForm login-container">
                                <el-form-item label="角色名称" prop="name">
                                    <el-input type="text" v-model="updateFormData.name" name="name"  style="width: 330px" auto-complete="on" placeholder="请输入角色名称"></el-input>
                                </el-form-item>
                                <el-form-item label="角色编号" prop="code1">
                                    <el-input type="text" v-model="updateFormData.code1" name="code1"  style="width: 330px" auto-complete="on" placeholder="请输入角色编号" ></el-input>
                                </el-form-item>
                                <el-form-item label="备注" prop="remark">
                                    <el-input type="text" v-model="updateFormData.remark" name="remark" style="width: 330px" auto-complete="on" placeholder="请输入备注"></el-input>
                                </el-form-item>
                                <el-form-item label="是否启用" prop="status">
                                    <el-radio-group v-model="updateFormData.status">
                                        <el-radio class="radio" :label="1">是</el-radio>
                                        <el-radio class="radio" :label="0">否</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                            </el-form>
                            <span slot="footer" class="dialog-footer">
                                <el-button @click.native="dialogVisible2 = false,updateFormData={name:'',code1:'',remark:'',status:''}">取 消</el-button>
                                <el-button v-if="isView2" type="primary" @click.native="updateSubmit">确 定</el-button>
                            </span>
                        </el-dialog>
                        <!--分配资源界面-->
                        <el-dialog title="分配资源" :visible.sync="dialogVisible3" width="50%" :close-on-click-modal="false" >
                            <el-tree
                                    ref="menusTree"
                                    :data="data"
                                    show-checkbox
                                    node-key="id"
                                    :default-expanded-keys="[1, 3, 15]"
                                    :default-checked-keys= "resourceInfoList"
                                    :props="defaultProps">
                            </el-tree>
                            <span slot="footer" class="dialog-footer">
                                <el-button @click.native="dialogVisible3 = false,resourceInfoList=[]">取 消</el-button>
                                <el-button v-if="isView3" type="primary" @click.native="updateResourceSubmit">确 定</el-button>
                            </span>
                        </el-dialog>
                    </div>

                </template>
            </el-main>
        </el-container>
    </el-container>
</template>


<script>
    import Aside from "@/components/aside/index.vue";
    export default {
        name: 'lists',
        components: {
            Aside
        },
        data() {
            return {
                data: [
                    {
                        id: 1,
                        label: '考卷管理',
                        children: [
                            {
                                id: 4,
                                label: '组卷'
                            }, {
                                id: 5,
                                label: '下载试卷'
                            }, {
                                id: 6,
                                label: '试卷模板管理'
                            }, {
                                id: 7,
                                label: '上传试卷'
                            }, {
                                id: 8,
                                label: '维护试卷'
                            }
                        ]
                    }, {
                        id: 2,
                        label: '考试管理',
                        children: [
                            {
                                id: 9,
                                label: '评卷管理',
                            },
                            {
                                id: 10,
                                label: '分题评卷答案详情',
                            },
                            {
                                id: 11,
                                label: '答卷查询',
                            },
                            {
                                id: 12,
                                label: "考试报表",
                                children: {
                                    id: 17,
                                    label: '报表详情',
                                }
                            },
                            {
                                id: 13,
                                label: '分题评卷',
                            },
                            {
                                id: 14,
                                label: '发布考卷管理',
                            },
                            {
                                id: 15,
                                label: '手机答卷',
                            },
                        ]
                    }, {
                        id: 3,
                        label: '系统管理',
                        children: [
                            {
                                id: 16,
                                label: '资源管理',
                                children: [
                                    {
                                        id: 18,
                                        label: "修改资源"
                                    }, {
                                        id: 19,
                                        label: "新增资源"
                                    }, {
                                        id: 20,
                                        label: "查看资源"
                                    }
                                ]
                            }
                        ]
                    }],
                defaultProps: {
                    children: 'children',
                    label: 'label'
                },
                url: require("@/assets/logo.png"),
                fits: ["fill", "contain", "cover", "none", "scale-down"],
                userInfoList: [],
                resourceInfoList:[],
                currentPage: 1,
                pagesize: 4,
                addFormReadOnly: true,
                dialogVisible: false,
                isView: true,
                dialogVisible2: false,
                isView2: true,
                dialogVisible3: false,
                isView3: true,
                addFormData: {
                    name: "",
                    code1: "",
                    remark: "",
                    status: -1
                },
                updateFormData: {
                    name: "",
                    code1: "",
                    remark: "",
                    status: -1
                },
                rules2: {
                    name: [{
                        required: true,
                        message: '用户名不能为空',
                        trigger: 'blur'
                    }],
                    status: [{
                        required: true,
                        message: '是否启用不能为空',
                        trigger: 'blur'
                    }],
                    code1: [{
                        required: true,
                        message: '角色编号不能为空',
                        trigger: 'blur'
                    }]
                },
                filters: {
                    name: ''
                }
            }
        },
        mounted: function () {
            this.loadData();
        },
        methods: {
            handleSizeChange: function (size) {
                this.pagesize = size;
                console.log(this.pagesize)  //每页下拉显示数据
            },
            handleCurrentChange: function (currentPage){
                this.currentPage = currentPage;
                console.log(this.currentPage)  //点击第几页
            },
            loadData()
            {
                this.$axios.post('http://localhost:8761/userlist').then((result) => {
                    var _data = result.data;
                    console.log(_data);
                    this.userInfoList = _data;
                });
            },
            getUsers() {
                console.log(this.filters.name);
                this.$axios.post('http://localhost:8761/query',{
                    name:this.filters.name
                }).then((result) => {
                    if(result.data.length>0){
                        var _data = result.data;
                        this.userInfoList = _data;
                    }else{
                        this.$message({
                            type: 'info',
                            message: `没有相关信息`
                        });
                    }

                });
            },
            addUser() {
                this.addFormData = {
                    name: '',
                    code1: '',
                    remark: '',
                    status: ''
                };
                this.isView = true;
                this.dialogVisible = true;
            },

            modifyUser(rowData) {
                this.updateFormData = Object.assign({}, rowData);
                this.isView2 = true;
                this.dialogVisible2 = true;
                //    this.addFormReadOnly = false;
            },
            getRoleResource(rowData) {
                this.resourceInfoList=[],
                this.roleDialogFormData={
                    roleId:rowData.id,
                }
                this.$axios.post('http://localhost:8761/getRoleResource',{
                    roleId:rowData.id
                }).then((result) => {
                    var _data = result.data;
                    console.log(_data);
                    this.resourceInfoList = _data;
                });
                this.isView3 = true;
                this.dialogVisible3 = true;
            },
            deleteUser(rowData) {
                this.$alert('是否删除这条记录', '信息删除', {
                    confirmButtonText: '确定',
                    callback: action => {
                        this.$axios.post("http://localhost:8761/remove",{
                            id:rowData.id
                        }).then((result) => {
                            if (result.data.code==200) {
                                alert("删除成功");
                                this.$message({
                                    type: 'info',
                                    message: `已删除`
                                });
                            } else {
                                this.$message({
                                    type: 'info',
                                    message: `删除失败`
                                });
                            }
                            this.loadData();
                        });

                    }
                });

            },
            addSubmit() {
                this.$refs.addFormData.validate((valid) => {
                    if (valid) {
                        this.$axios.post("http://localhost:8761/save",{
                            name:this.addFormData.name,
                            code1:this.addFormData.code1,
                            remark:this.addFormData.remark,
                            status:this.addFormData.status})
                            .then((result) => {
                                let code = result.data.code;
                                if (code==200) {
                                    this.$message({
                                        type: 'info',
                                        message: '添加成功',
                                    });
                                    alert("添加成功");
                                    this.loadData();
                                } else {
                                    this.$message({
                                        type: 'info',
                                        message: '添加失败',
                                    });
                                    alert("添加失败");
                                }
                                this.dialogVisible = false;
                            });
                    }

                });
            },
            updateSubmit() {
                this.$refs.updateFormData.validate((valid) => {
                    if (valid) {
                        this.$axios.post("http://localhost:8761/update",{
                            name:this.updateFormData.name,
                            code1:this.updateFormData.code1,
                            remark:this.updateFormData.remark,
                            status:this.updateFormData.status,
                        })
                            .then((result) => {
                                let code = result.data.code;
                                if (code==200) {
                                    this.$message({
                                        type: 'info',
                                        message: '修改成功',
                                    });
                                    alert("修改成功");
                                    this.loadData();
                                } else {
                                    this.$message({
                                        type: 'info',
                                        message: '修改失败',
                                    });
                                    alert("修改失败");
                                }
                                this.dialogVisible2 = false;
                            });
                    }
                });
            },

            updateResourceSubmit() {
                let checkedKeys = this.$refs.menusTree.getCheckedKeys();
                let formData = {
                    roleId: this.roleDialogFormData.roleId,
                    checkedRoleResource: checkedKeys,
                }
                console.log(formData)
                this.$axios.post("http://localhost:8761/update1",formData)
                    .then((result) => {
                        let code = result.data.code;
                        if (code==200) {
                            this.$message({
                                type: 'info',
                                message: '修改成功',
                            });
                            alert("修改成功");
                            this.loadData();
                        } else {
                            this.$message({
                                type: 'info',
                                message: '修改失败',
                            });
                            alert("修改成功");
                        }
                        this.dialogVisible3 = false;
                    });
            },
        }
    }
</script>

<style lang="scss" scoped>
    body > .el-container {
        margin-bottom: 40px;
    }
    .container {
        height: 600px;
    }
    .el-header {
        text-align: left;
        background-color: white;
        .logout {
            text-align: right;
            .navOperater {
                width: 80px;
                height: 80px;
                float: right;
                line-height: 50px;
            }
        }
    }
    .el-main {
        background-color: #e9eef3;
        text-align: center;
    }
</style>