<template>
    <div>
        <el-card class="login-form-layout">
            <el-form
                    autocomplete="on"
                    :model="loginForm"
                    ref="loginForm"
                    label-position="left"
            >
                <div style="text-align: center">

                </div>
                <h2 class="login-title color-main" style="text-align: center">管理系统</h2>
                <el-form-item prop="username">
                    <el-input
                            name="username"
                            type="text"
                            v-model="loginForm.username"
                            autocomplete="on"
                            placeholder="请输入用户名"

                    >
            <span slot="prefix">

            </span>
                    </el-input>
                </el-form-item>
                <el-form-item prop="password">
                    <el-input
                            name="password"
                            :type="pwdType"
                            @keyup.enter.native="handleLogin"
                            v-model="loginForm.password"
                            autocomplete="on"
                            placeholder="请输入密码"

                    >
            <span slot="prefix">

            </span>
                        <span slot="suffix" @click="showPwd">

            </span>
                    </el-input>
                </el-form-item>
                <el-form-item style="margin-bottom: 60px">
                    <el-button
                            style="width: 70%;margin-left: 60px;margin-top: 30px"
                            type="primary"
                            :loading="loading"
                            @click.native.prevent="handleLogin"
                    >登录</el-button>
                </el-form-item>
            </el-form>
        </el-card>
    </div>
</template>

<script>
    export default {
        name: "login",
        data() {
            return {
                loginForm: {
                    username: "",
                    password: ""
                },
                loading: false,
                pwdType: "password",
            };
        },
        methods: {
            showPwd() {
                if (this.pwdType === "password") {
                    this.pwdType = "";
                } else {
                    this.pwdType = "password";
                }
            },
            handleLogin() {
                this.$refs.loginForm.validate(valid => {
                    if (valid) {
                        console.log(this.loginForm.username);
                        this.loading = true;
                        this.$axios.post
                            ("http://localhost:8761/login",{
                                username:this.loginForm.username,
                                password:this.loginForm.password
                            })
                            .then(response => {
                                this.loading = false;
                                let code = response.data.code;
                                if (code == 200) {
                                    this.$router.push({
                                        path: "/lists",
                                        query: { data: response.data.data }
                                    });
                                } else {
                                    this.$router.push({
                                        path: "/error",
                                        query: { message: response.data.message }
                                    });
                                }
                            })
                            .catch(() => {
                                this.loading = false;
                            });
                    } else {
                        // eslint-disable-next-line no-console
                        console.log("参数验证不合法！");
                        return false;
                    }
                });
            }
        }
    };
</script>

<style scoped>
    .login-form-layout {
        position: absolute;
        left: 0;
        right: 0;
        width: 360px;
        margin: 140px auto;
        border-top: 10px solid #409eff;
    }

    .login-title {
        text-align: center;
    }

    .login-center-layout {
        background: #409eff;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        margin-top: 200px;
    }
</style>
